{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles-index.css')}}">
<article>
    <section class="section-blog">
        <h2 class="section-blog">Este es un bloque</h2>
        <p class="section-blog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quod odio incidunt tempora rem deserunt, magni veritatis cum inventore obcaecati architecto, ab aut aliquid nulla, aspernatur autem voluptatem eos doloremque.
        Maiores amet non explicabo veritatis, ut atque inventore quos architecto totam commodi nihil perspiciatis facere modi nesciunt omnis? Voluptatem praesentium ullam cum velit adipisci explicabo. Quisquam ad nulla pariatur laboriosam.
        A, corporis magni. Quis similique aperiam, harum ut maiores nemo id ipsa, qui molestiae, quas laboriosam vel. Dolorum, atque quae minus voluptatibus expedita omnis iusto eos vel minima saepe cumque.
        Nihil earum quasi facilis, sequi odit recusandae et soluta est natus possimus ab minus ratione aliquam nisi laboriosam molestiae esse eum ipsa sapiente hic quisquam atque provident amet. Saepe, eos!
        Minus quas aut dolorem rem animi, magni sint velit assumenda repellendus corrupti officia, aspernatur, adipisci incidunt voluptatibus molestias iste fuga omnis quo? Dolore, eveniet nostrum ipsam sapiente harum quo dolor.
        </p>
        <a href="#" class="section-blog">read more</a>
    </section>
    <section class="section-blog">
        <h2 class="section-blog">Este es otro bloque</h2>
        <p class="section-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum inventore cumque quasi? Harum eveniet amet commodi mollitia id dicta veritatis, ullam praesentium nemo illum officia! Itaque veniam eaque at.
            Voluptas, soluta! Autem, maiores dolorum ipsum adipisci esse nesciunt, ex quaerat, magnam praesentium doloribus neque iusto amet optio repudiandae iste totam earum debitis nulla inventore reprehenderit placeat impedit? Exercitationem, laboriosam.
            Dolore qui nihil architecto rem veniam quas ratione, perspiciatis ea placeat quidem et neque laudantium delectus ex beatae. Nobis sed odio voluptatum perferendis odit quasi non accusamus modi dolor. Laudantium.
            Corrupti minima animi eos similique, error aliquid ullam illo officia nam esse officiis maiores, consequuntur neque iure facilis expedita. Saepe repellendus ipsa autem minima sint deserunt sit, illum assumenda sapiente.
            Fuga, corporis! Perferendis, sed! Consequatur, ullam inventore. Facilis sit, quisquam consectetur expedita eius necessitatibus facere! Dolor, officiis? Deserunt rem consectetur distinctio, eius necessitatibus soluta facilis repellat, provident ex, exercitationem laboriosam?
        </p>
        <a href="" class="section-blog">read more</a>
    </section>
</article>



<aside>
    <div class="bar-search">
        <form action="">
            <input type="text" name="search" placeholder="search">
            <button type="submit">send</button>
        </form>
    </div>
    <div class="red-social">
        <p>follow me!</p>
        <a href="">
            <img src="https://cdn-icons.flaticon.com/png/512/2626/premium/2626269.png?token=exp=1660938057~hmac=185a167ca5850d90277f3120ddaac5db" alt="facebook">
        </a>
        <a href="">
            <img src="https://cdn-icons.flaticon.com/png/512/3670/premium/3670209.png?token=exp=1660938798~hmac=148eb4fd14633a620e41d53e6bf83ab0" alt="youtube">
        </a>
        <a href="">
            <img src="https://appdodo.com/uploads/images/apps/sololearn-learn-to-code-icon.png" alt="sololear profile">
        </a>

    </div>
</aside>
{% endblock %}